body {
  margin: 0;
  font-family: sans-serif;
}

.quote{
  background-color: white;
  padding: 10px;
  margin: 3px;
}

.quoteText{
  margin-top: 20px;
}

.uname{
  display:inline-block;
  font-size: 15px;
  font-weight: bold;
  /* color: royalblue; */
  color: forestgreen;
}
.time{
  display:inline-block;
  font-size: 12px;
  margin-left: 10px;
  color: gray;
}
.address {
  display:inline-block;
  font-size: 12px;
  margin-left: 10px;
  color: gray;

}